name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: angelicagardner
          template: classic
          base: hea
          config_timezone: Europe/Stockholm
          
          plugin_languages: yes
          plugin_languages_details: percentage
          
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          
          plugin_achievements: yes
          
          plugin_leetcode: yes
          plugin_leetcode_user: angelicahjelmgardner
          plugin_leetcode_sections: solved, skills
